In [1]:
import pandas

In [7]:
dataset_df = pandas.read_csv("energy_use_in_the_UK.csv", sep=";")

In [9]:
dataset_df.head()

              timestamp  coal  nuclear  wind  hydro  solar
0   2012-01-01 00:00:01  8693     7121  2740    728    0.0
1   2012-01-01 00:05:06  8650     7120  2812    732    0.0
2   2012-01-01 00:10:01  8880     7125  2896    744    0.0
3   2012-01-01 00:15:01  9111     7122  2964    748    0.0
4   2012-01-01 00:20:01  9195     7114  2992    750    0.0